.profileNavWrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .navHighlite {
        p {
            margin-bottom: 0;
            color: #000;
            font-family: 'Figtree', sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        }
    }
    .profileInfoWrapper{
        display: flex;
        gap: 27px;
        align-items: center;

        img{
            border-radius: 50%;
        }
    }
}

// profileNavWrapper

@media screen and (max-width: 1024px){
    .profileNavWrapper{
        display: none;  
    }
}