@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,400;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


$Blue:#605BFF;
$White: #fff;
$LightGray: #F8FAFF;
$Gray:#858585;
$inputGray:#F5F5F5;
$forgotBtnColor: #346BD4;
$forgotBtnColorHover: #4a7bd5;
$dashboardColor:#FAFAFB;
$navFontColor: #9A9AA9;
$browseFileColor: #999CA0;
$Red: #D33030;
$LightBulma: #231F20;
